# Flutter/Dart specific
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build
/build/
!build/web/
android/app/*.keystore

# macOS
*.DS_Store

# Web
lib/generated_plugin_registrant.dart

# IntelliJ
.idea/

# VSCode
.vscode/

# Logs
*.log

# env
*.env

# Pub dependencies
.pub-cache/
pubspec.lock

# Miscellaneous
*.lock

# Android Gradle 관련 파일
/android/.gradle/
/android/app/build/